<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>NBA - Home</title>
    <link rel="stylesheet" type="text/css" href="../static/estiloindex.css" />
</head>
<body>
    <img class="logo" src="../static/imagens/nba-logo.png">
    <ul class="menu">  
        <li class="menu"><a href="index">Home</a></li>
        <li class="menu"><a href="time">Times</a></li>
        <li class="menu"><a href="pontuacao">Pontuação</a></li>
        <li class="menu"><a href="jogadores">Top Players</a></li>
        <li class="menu"><a href="cadastro">Cadastro</a></li>
    </ul>  
	
	<div class="div-news-global">
		<div class="div-news">
		<img class="div-news-imagens" src="../static/imagens/noticia-bola.jpg">
		<h2>Temporada não começará em Dezembro</h2>
			<p>O plano em questão inclui a redução para 72 jogos e ainda restam detalhes à serem negociados.</p>	
			<p>A votação, conduzida por representantes de jogadores dentro da National Basketball Players Association, é apenas uma parte do processo. Entre as questões principais a serem determinadas: quanto mais garantia será tirada dos jogadores por causa da temporada mais curta do que o normal, e como a liga e os jogadores enfrentarão os testes e outras questões de saúde e segurança em meio à pandemia de coronavírus em curso.

			Tudo isso precisa ser resolvido antes que os planos para a próxima temporada se tornem realmente oficiais.</p>
		</div>
		
		<div class="div-news">
			<img class="div-news-imagens" src="../static/imagens/noticia-draft.jpg">
			<h2>Os melhores jogadores dos últimos 20 drafts</h2>
			<p>Seja uma ciência inexata ou um jogo de salão, nada requer o benefício do tempo como avaliar um draft específico e classificar os verdadeiros vencedores do maior lance de dados da NBA.</p>
			<p>As equipes juram que conquistaram o jogador que desejavam e não veem nada além de um futuro brilhante pela frente. Mas todos nós sabemos que isso são apenas aparências. Ninguém sabe ao certo, nem mesmo quando os jogadores carregam um rótulo de "imperdível", se as coisas vão sair bem como as projeções sugerem. </p> </br>
		</div>
		
		<div class="div-news">
			<img class="div-news-imagens" src="../static/imagens/noticia-covid.jpg">
			<h2>A frustração do COVID-19 borbulha no basquete europeu</h2>
			<p>A maior liga de basquete da Europa apresenta times de 10 países que navegam em casos COVID-19, restrições a viagens internacionais e adiamentos de última hora. Faz com que a bolha da NBA pareça uma caminhada no parque de diversões.</p>	
			<p>“Por enquanto, a única escolha lógica parece ser suspender a competição europeia e permitir que as ligas nacionais terminem sua (s) temporada (s) nos próximos quatro meses, já que viajar pelo país será mais fácil,” Messina, ex- treinador assistente do San Antonio Spurs, escreveu em uma carta aberta. Como ficará a situação da competição européia?</p>
		</div>
	</div>
	
</body>
</html>