<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/estilojogadores.css" />
    <title>NBA - Top 5 Jogadores</title>
</head>
<body>
    <img class="logo" src="../static/imagens/nba-logo.png">
    <ul class="menu">  
        <li class="menu"><a href="index">Home</a></li>
        <li class="menu"><a href="time">Times</a></li>
        <li class="menu"><a href="pontuacao">Pontuação</a></li>
        <li class="menu"><a href="jogadores">Top Players</a></li>
        <li class="menu"><a href="cadastro">Cadastro</a></li>
    </ul>  
    <h2 class="temporada">Top 5 | Estatísticas Temporada 2019-20</h2>
    <ul class="jogadores">   
        <img class="time" src="../static/imagens/lk.png">            
        <img class="rosto" src="../static/imagens/lebron.png" title="LeBron James">        
        <div class="e1">
            <p class="nome">LeBron James</p>            
        <ul class="dados">            
            <li>PONTOS: 25,3</li>            
            <li>REBOTES: 7,8</li>
            <li>ASSISTÊNCIAS: 10,2</li>
            <li>EFICIÊNCIA: 25,55</li>                    
        </ul>            
        </div>    
    </ul>   
    <ul class="jogadores"> 
        <img class="time" src="../static/imagens/lk.png">       
        <img class="rosto" src="../static/imagens/daves.png" title="Anthony Davis">        
        <div class="e1">
            <p class="nome">Anthony Davis</p>
        <ul class="dados">
            <li>PONTOS: 26,1</li>
            <li>REBOTES: 9,3</li>
            <li>ASSISTÊNCIAS: 3,2</li>
            <li>EFICIÊNCIA: 27,5</li>
        </ul>
        </div>  
    </ul>  
    <ul class="jogadores">       
        <img class="time" src="../static/imagens/mb.png"> 
        <img class="rosto" src="../static/imagens/giannis.png" title="Giannis Antetokounmpo">        
        <div class="e1">
            <p class="nome">Giannis Antetokounmpo</p>
        <ul class="dados">
            <li>PONTOS: 29,5</li>
            <li>REBOTES: 13,6</li>
            <li>ASSISTÊNCIAS: 5,6</li>
            <li>EFICIÊNCIA: 31,94</li>
        </ul>
        </div>  
    </ul>
    <ul class="jogadores">   
        <img class="time" src="../static/imagens/mh.png">     
        <img class="rosto" src="../static/imagens/jimmy.png" title="Jimmy Butler">        
        <div class="e1">
            <p class="nome">Jimmy Butler</p>
        <ul class="dados">
            <li>PONTOS: 19,9</li>
            <li>REBOTES: 6,7</li>
            <li>ASSISTÊNCIAS: 6,0</li>
            <li>EFICIÊNCIA: 23,61</li>
        </ul>
        </div>  
    </ul>
    <ul class="jogadores">
        <img class="time" src="../static/imagens/mh.png">        
        <img class="rosto" src="../static/imagens/tyler.png" title="Tyler Herro">        
        <div class="e1">
            <p class="nome">Tyler Herro</p>
        <ul class="dados">
            <li>PONTOS: 13,5</li>
            <li>REBOTES: 4,1</li>   
            <li>ASSISTÊNCIAS: 2,2</li>
            <li>EFICIÊNCIA: 12,53</li>
        </ul>
        </div>  
    </ul>
    
</body>
</html>