<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>NBA - Pontuação</title>    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel="stylesheet" href="../static/estilopontuacao.css">
</head>
<body>
        <img class="logo" src="../static/imagens/nba-logo.png"></a>
        <ul class="menu">  
            <li class="menu"><a href="index">Home</a></li>
            <li class="menu"><a href="time">Times</a></li>
            <li class="menu"><a href="pontuacao">Pontuação</a></li>
            <li class="menu"><a href="jogadores">Top Players</a></li>
            <li class="menu"><a href="cadastro">Cadastro</a></li>
        </ul>  

    <div class="container">
        <table>
             <thead class="cabecalho">
                 <tr>
                     <th>Colocação</th>
                     <th>Time</th>
                     <th>Vitórias</th>
                     <th>Derrotas</th>
                     <th>L10</th>
                 </tr>
             </thead>
             <tbody class="corpo">
                 <tr class="teste">                   
                     <td>1.<img class="logotime" src="../static/imagens/LogoLakers.png" title="Lakers"></td>                               
                     <td>Los Angeles Lakers</td>
                     <td>56</td>
                     <td>17</td>
                     <td>3-7</td>
                 </tr></grid-line>
                 <tr class="teste">                    
                    <td>2.<img class="logotime" src="../static/imagens/LogoMiamiHeat.png" title="Heat"></td>                               
                    <td>Miami Heat</td>
                    <td>53</td>
                    <td>19</td>
                    <td>9-1</td>
                </tr>
                <tr class="teste">                    
                    <td>3.<img class="logotime" src="../static/imagens/LogoChicagoBulls.png" title="Bulls"></td>                               
                    <td>Chicago Bulls</td>
                    <td>48</td>
                    <td>24</td>
                    <td>7-3</td>
                </tr>
                <tr class="teste">                    
                    <td>4.<img class="logotime" src="../static/imagens/LogoClevelandCavaliers.png" title="Cavaliers"></td>                               
                    <td>Cleveland Cavaliers</td>
                    <td>45</td>
                    <td>28</td>
                    <td>6-4</td>
                </tr>
                <tr class="teste">                    
                    <td>5.<img class="logotime" src="../static/imagens/LogoMilwaukeeBucks.png" title="Bucks"></td>                               
                    <td>Milwaukee Bucks</td>
                    <td>44</td>
                    <td>29</td>
                    <td>4-6</td>
                </tr>
                <tr class="teste">                    
                    <td>6.<img class="logotime" src="../static/imagens/LogoTorontoRaptors.png" title="Raptors"></td>                               
                    <td>Toronto Raptors</td>
                    <td>43</td>
                    <td>30</td>
                    <td>5-5</td>
                </tr>
                <tr class="teste">                    
                    <td>7.<img class="logotime" src="../static/imagens/LogoBostonCeltics.png" title="Celtics"></td>                               
                    <td>Boston Celtics</td>
                    <td>35</td>
                    <td>37</td>
                    <td>7-3</td>
                </tr>
                <tr class="teste">                    
                    <td>8.<img class="logotime" src="../static/imagens/LogoIndianaPacers.png" title="Pacers"></td>                               
                    <td>Indiana Pacers</td>
                    <td>33</td>
                    <td>40</td>
                    <td>5-5</td>
                </tr>
                <tr class="teste">                    
                    <td>9.<img class="logotime" src="../static/imagens/LogoPhiladelphia76ers.png" title="76ers"></td>                               
                    <td>Philadelphia 76ers</td>
                    <td>25</td>
                    <td>27</td>
                    <td>2-8</td>
                </tr>
                <tr class="teste">                    
                    <td>10.<img class="logotime" src="../static/imagens/LogoDetroitPistons.png" title="Pistons"></td>                               
                    <td>Detroit Pistons</td>
                    <td>23</td>
                    <td>42</td>
                    <td>4-6</td>
                </tr>
                <tr class="teste">                    
                    <td>11.<img class="logotime" src="../static/imagens/LogoBrooklynNets.png" title="Nets"></td>                               
                    <td>Brooklyn Nets</td>
                    <td>22</td>
                    <td>43</td>
                    <td>3-7</td>
                </tr>
                <tr class="teste">                    
                    <td>12.<img class="logotime" src="../static/imagens/LogoOrlandoMagic.png" title="Magic"></td>                               
                    <td>Orlando Magic</td>
                    <td>21</td>
                    <td>45</td>
                    <td>4-6</td>
                </tr>
                <tr class="teste">                    
                    <td>13.<img class="logotime" src="../static/imagens/LogoWashingtonWizards.png" title="Wizards"></td>                               
                    <td>Washington Wizards</td>
                    <td>20</td>
                    <td>46</td>
                    <td>1-9</td>
                </tr>
                <tr class="teste">                    
                    <td>14.<img class="logotime" src="../static/imagens/LogoCharlotteHornets.png" title="Hornets"></td>                               
                    <td>Charlotte Hornets</td>
                    <td>20</td>
                    <td>47</td>
                    <td>4-6</td>
                </tr>
                <tr class="teste">                    
                    <td>15.<img class="logotime" src="../static/imagens/LogoNewYorkKnicks.png" title="Knicks"></td>                               
                    <td>New York Knicks</td>
                    <td>19</td>
                    <td>46</td>
                    <td>4-6</td>
                </tr>

             </tbody>
         </table>
     </div>
</body>

</html>