<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>NBA - Times</title>
    <link rel="stylesheet" type="text/css" href="../static/estilotime.css">
    
<body>
    
    <img class="logo" src="../static/imagens/nba-logo.png">
    <ul class="menu">  
        <li class="menu"><a href="index">Home</a></li>
        <li class="menu"><a href="time">Times</a></li>
        <li class="menu"><a href="pontuacao">Pontuação</a></li>
        <li class="menu"><a href="jogadores">Top Players</a></li>
        <li class="menu"><a href="cadastro">Cadastro</a></li>
    </ul>  


<h1>Times</h1>
<ul>
    
    <li class="lista1">Chicago Bulls</li>
    <img class="bulls" src="../static/imagens/chicago.png">
    <p class="a2">
        O Chicago Bulls é um time de basquete profissional americano, sediado em Chicago, Illinois. Os Bulls competem na National Basketball Association (NBA) como um membro da Divisão Central da Conferência Leste da liga. A equipe foi fundada em 16 de janeiro de 1966 e o principal jogador foi Michael Jordan.

        Os Bulls tiveram seu único sucesso durante os anos 90, quando foram responsáveis ​​por popularizar a NBA em todo o mundo. Eles são conhecidos por terem uma das maiores dinastias da NBA, vencendo seis títulos da NBA entre 1991 e 1998. Todas as seis equipes foram lideradas por Michael Jordan, Scottie Pippen e pelo 
        técnico Phil Jackson. Os Bulls é a única franquia da NBA a vencer vários campeonatos, sem nunca perder uma série de finais da NBA em sua história. Muitos especialistas e analistas consideram o Bulls de 1992 uma das maiores equipes da história da NBA.

        O Bulls compartilha rivalidades com o Cleveland Cavaliers, o Detroit Pistons, o Miami Heat e o New York Knicks. A rivalidade dos Bulls com os Pistons foi destacada fortemente no final dos anos 80 e início dos anos 90.
    </p>
    <li class="lista2">Cleveland Cavaliers</li>  
    <img class="cleveland" src="../static/imagens/cleveland.png">
    <p class="a2">
        O Cleveland Cavaliers, conhecido como Cavs, é uma equipe americana de basquete profissional sediada em Cleveland, Ohio. Os Cavs competem na National Basketball Association (NBA) como membro da Divisão Central da Conferência Leste.
        A equipe começou a jogar como um time de expansão em 1970, junto com o Portland Trail Blazers e Buffalo Braves. Os jogos em casa foram realizados pela primeira vez na Cleveland Arena de 1970 a 1974, seguidos pelo Richfield Coliseum de 1974 a 1994.
        Desde 1994, os Cavs jogam no Rocket Mortgage FieldHouse, no centro de Cleveland, que é compartilhado com o Cleveland Gladiators da Arena Football League e o Cleveland Monsters da National Hockey League. Dan Gilbert é o proprietário da equipe desde março de 2005.

        LeBron James retornou aos Cavs em 2014 e liderou a equipe em quatro aparições nas Finais da NBA. Em 2016, os Cavaliers venceram o seu primeiro título da NBA, marcando a primeira grande conquista esportiva de Cleveland desde 1964, quando o Cleveland Browns venceu a NFL.

        Os Cavaliers tem 22 aparições nos playoffs da NBA, a última em 2018. A equipe conquistou sete títulos da Divisão Central, cinco títulos da Conferência Leste e um título da NBA, contra o Golden State Warriors
    </p>

    <li class="lista3">Orlando Magic</li>
    <img class="orlando" src="../static/imagens/orlando.png">
    <p class="a2">
        Orlando Magic é uma equipe de basquete profissional da National Basketball Association localizada em Orlando, Flórida. A equipe foi fundada em 1989 e seu dono é a Família DeVos. A equipe nunca ganhou um campeonato de NBA, embora tenha chegado às finais da NBA nas temporadas 94-95 e 08-09. 
        A franquia foi criada em 1989 como uma expansão da franquia, e teve estrelas da NBA, como Shaquille O'Neal , Penny Hardaway , Horace Grant , Tracy McGrady , Steve Francis , Dwight Howard , Vince Carter e Rashard Lewis ao longo de sua jovem história. A franquia também tem estado nos playoffs por mais da metade de sua existência
    </P>

    <li class="lista4">Miami Heat</li>
    <img class="miami" src="../static/imagens/miami.png">
    <p class="a2">
        O Miami Heat é um time de basquete profissional EUA com sua sede localizada em Miami, na Flórida. O time é membro da Divisão Sudeste na Conferência Leste da NBA. O Heat manda seus jogos na American Airlines Arena em Downtown Miami. Seu dono é Micky Arison, sendo treinado por Erik Spoelstra e presidido por Pat Riley. Seu mascote se chama Burnie.

        O Heat foi fundado em 1988 numa expansão da NBA. Representa, junto com o Orlando Magic, o estado da Flórida. Desde sua fundação o Heat ganhou 14 títulos de divisão, 6 de conferência e 3 campeonatos, vencendo o Dallas Mavericks por 4-2 nas finais da NBA em 2006
        o Oklahoma City Thunder por 4-1 em 2012 e o San Antonio Spurs por 4-3 em 2013. O Heat apareceu 18 vezes nos playoffs em 26 temporadas. De acordo com a revistas Forbes, em 2013, o Heat possuía o valor de US$ 625 milhões, sendo a sexta franquia mais valiosa da NBA.
    </p2>

    <li class="lista5">Los Angeles Lakers</li>
    <img class="lakers" src="../static/imagens/lakers.png">
    <p class="a2">
        Los Angeles Lakers é um time de basquetebol da NBA (National Basketball Association) com sede em Los Angeles, Califórnia. A equipe foi fundada em 1947, em Minneapolis, onde recebeu seu nome em alusão ao fato do estado de Minnesota ser conhecido como "Terra dos Mil Lagos",
        e venceu cinco títulos da liga antes de uma queda de público presente levar a uma relocação para Los Angeles em 1960. No fim dos anos 1970 e no começo dos anos 1980, a popularidade do Lakers cresceu, tornando-se uma das franquias de maior sucesso,
        além de ser a com maior número de títulos, 17, empatado com o Boston Celtics. A equipe ainda conta com 56 aparições na pós-temporada, 33 títulos da Divisão do Pacífico e 32 títulos da Conferência Oeste.

        A franquia californiana é detentora de alguns recordes da Liga. É a que possui maior número de vitórias da liga, mais de 3000, com a maior porcentagem de vitórias e mais aparições em finais (32).
        O Lakers também é o time das ligas norte-americanas que mais teve vitórias consecutivas (33), na temporada 1971-72.

        O Lakers é uma das franquias mais populares da NBA, e já teve em seu elenco grandes estrelas do basquetebol mundial como George Mikan, Slater Martin, Jerry West, Wilt Chamberlain, Elgin Baylor, Gail Goodrich, Kareem Abdul-Jabbar, Magic Johnson, James Worthy, Shaquille O'Neal, Kobe Bryant e LeBron James, 
        além de grandes técnicos como John Kundla, Bill Sharman, Pat Riley e Phil Jackson.
    </p>
</body>
</html> 